doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Table
    body
        table(border=1,cellpadding="2", cellspacing="0") 
            tr 
                th Sr. no 
                th Subject 
                th Faculty name 
            tr 
                td 1
                td FSD-2 
                td NAS 
            tr 
                td 2
                td Python-2 
                td PKV 
            tr
                td 3
                td COA 
                td VBY 
