html 
    head
        title Form 
    body
        form(action="", method="POST")
            p 
            input(type="text", name="name", placeholder="Name", required)
            p 
            input(type="password", name="password", placeholder="Password", required)
            p 
            input(type="submit", value="Submit")